@inherits LayoutComponentBase

<PageTitle>LMSC.Blazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4 container">
            @Body
        </article>
    </main>
</div>
